.chart-symbol.default-color0 {
     -fx-background-color: #F8766D;
 }

.chart-symbol.default-color1 {
    -fx-background-color: #7CAE00;
}

.chart-symbol.default-color2 {
    -fx-background-color: #00BFC4;
}

.chart-symbol.default-color3 {
    -fx-background-color: #C77CFF;
}
